{% extends 'index.html' %}
{% block title %}
Error
{% endblock title %}
{% block sources %}
{% endblock sources %}
</head>
{% block body %}

<body class="d-flex h-100 text-center ">
    {% endblock body %}
    {% block page %}

    <section class="section ch-blog blog-list" id="ch-blog">
        <div class="container">
            <div class="row section-separator">
                <div class="col-md-12 col-sm-12">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 wow fadeInUp" data-wow-delay="0.3s">
                            <h5>
                                Ocurrió un error al cargar la página o el evento no existe. :(
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% endblock page %}